#----------------------------------------
# ALIASES
#----------------------------------------

#So I don't overwrite files
alias rm='rm -id'
alias mv='mv -i'
alias cp='cp -i'


#Shortcuts
alias dirs='dirs -v'
alias jj='jobs -l'

#Utility
alias ls='ls --color=auto -C --group-directories-first'
alias la='ls --color=auto -alF --group-directories-first'
alias ll='ls --color=auto -lF --group-directories-first'

#I happen to do this call the time
alias powerup='chmod u+x'
