[user]
	email = vince.siu4@gmail.com
	name = Vincent Siu
[core]
  editor = vim
[color]
  branch = auto
  diff = auto
  interactive = auto
  pager = true
  status = auto
  ui = true
[color "status"]
  added = green
  changed = yellow
  untracked = red
[push]
  default = simple
